{% extends 'app/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-5 mt-5">Translation completed!</h1>
      
      <p class="h5"> 
        Bid from <a href="{% url 'accounts:profile' bid.bidder.id %}">{{ bid.bidder.account.name }}</a>
        for a job from <a href="{% url 'accounts:profile' job.user.id %}">{{ job.user.account.name }}</a>
      </p> 
      <div class="my-4">
        <p class="mb-2 fw-bold h5">{{ job.title }}</p>
        <p>{{ job.description }}</p>
        
        <p> Job budget: {{ job.budget }} </p>
        <p> Bid amount: {{ bid.price }} </p>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="mb-5 mt-5">Rating details</h1>
      {% if bid.rating  %}
        <!--if job is completed and rating exists -->
        {% if user == bid.bidder %}
          <h2>You were rated: {{ bid.rating.rating }}</h2>
        {% elif user == bid.job.user %}
          <h2>You rated this job: {{ bid.rating.rating }}</h2>
        {% endif %}
      {% elif bid.dispute  %}
        <!--if job is completed and rating exists -->
        {% if user == bid.bidder %}
          <h2>Your job got disputed!</h2>
          <p>Waiting for an admin to resolve...</p>
          <blockquote class="blockquote">
            {{ bid.dispute.reason }}
          </blockquote>
        {% elif user == bid.job.user %}
          <h2>You disputed this job!</h2>
          <blockquote class="blockquote">
            {{ bid.dispute.reason }}
          </blockquote>
        {% endif %}
      {% else %}
        <!--we are still waiting for the job owner to rate the translation -->
        {% if user == bid.bidder %}
          <h2>Waiting for the rating from the Job owner</h2>
        {% elif user == bid.job.user %}
          <h2>Rate the translation!</h2>

          <form action="{% url 'app:rate_bid' bid.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="1" name="rating" class="btn custom-btn2">
            <input type="submit" value="2" name="rating" class="btn custom-btn2">
            <input type="submit" value="3" name="rating" class="btn custom-btn2">
            <input type="submit" value="4" name="rating" class="btn custom-btn2">
            <input type="submit" value="5" name="rating" class="btn custom-btn2">
          </form>
          <p>Or raise a dispute if you're not satisfied</p>

          <form action="{% url 'app:dispute' bid.id %}" method="post">
            {% csrf_token %}

            {% for field in form.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}

            <div class="form-group">
              <button type="submit" class="btn btn-danger my-3 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg> Start a Dispute
              </button>
            </div>
          </form>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-md-6">
      <h5>Original text:</h5>
      <p class="with-whitespace">
        {{ job.text }}
      </p>
    </div>
    <div class="col-md-6">
      <h5>Translated text: </h5>
      <p class="with-whitespace">
        {{ job.translation }}
      </p>
    </div>
    
  </div>
</div>



{% endblock %}
